body {
    justify-content: center;
    margin-top: 100px;
    display: flex;
}

#container {
    width: 800px;
    text-align: right;
}

#row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prev,#next {
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}
#header {
    color: red;
    display: flex;
    font-size: 30px;
    margin-bottom: 10px;
}

#weekdays {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#weekdays div {
    color: blue;
    font-size: 20px;
    width: 100px;
    padding: 8px;
}

#calendar {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}


.day {
    color: white;
    border: 1px solid black;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 10px;
    box-sizing: border-box;
    background: url("./images/daysBG.jpg");
}